In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', names = [i for i in range(0,28)], na_values = '?')
df_.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [21]:
df = df_[[0, 1, 3, 4, 5, 6, 10, 22]]
df.columns = ['surgery', 'age', 'rec_temp', 'pulse', 'resp_rate', 'temp_of_ext', 'pain', 'outcome']
df.describe()

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [49]:
df['surgery'].mode()
df['surgery'].value_counts()
#Оперированные животные встречаются чаще
df['surgery'] = df['surgery'].fillna(df['surgery'].mean())

/var/folders/jg/64vdp98s24939zjgl41c2ktm0000gp/T/ipykernel_1800/2432467070.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['surgery'] = df['surgery'].fillna(df['surgery'].mean())

In [60]:
print(df['outcome'].mode())
print(df['outcome'].value_counts())
#Выжившие лошадки встречаются заметно чаще, можно попробовать заполнить единственный пробел модой
df['outcome'] = df['outcome'].fillna(df['outcome'].mode())

0    1.0
Name: outcome, dtype: float64
1.0    178
2.0     77
3.0     44
Name: outcome, dtype: int64

/var/folders/jg/64vdp98s24939zjgl41c2ktm0000gp/T/ipykernel_1800/735819150.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['outcome'] = df['outcome'].fillna(df['outcome'].mode())

In [22]:
print(df['rec_temp'].mean())
print(df['rec_temp'].median())
#Медиана и среднее практически совпадают, выбросы скорее всего незначиельные

38.16791666666669
38.2

In [41]:
q1_rec_temp = df['rec_temp'].quantile(0.25)
q3_rec_temp = df['rec_temp'].quantile(0.75)
qrt = q3_rec_temp - q1_rec_temp
rec_lower_out = q1_rec_temp - (qrt *1.5)
print(rec_lower_out)
rec_higher_out = q3_rec_temp + (qrt *1.5)
print(rec_higher_out)
#Выбросы от среднего кажутся не драматичными, пропуски можно заполнить и средним
df['rec_temp'] = df['rec_temp'].fillna(df['rec_temp'].mean())

37.0
39.400000000000006

/var/folders/jg/64vdp98s24939zjgl41c2ktm0000gp/T/ipykernel_1800/3469668292.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rec_temp'] = df['rec_temp'].fillna(df['rec_temp'].mean())

In [24]:
print(df['pulse'].mean())
print(df['pulse'].median())
print(df['pulse'].unique())
#Медиана заметно отличается от среднего - возможны заметные выбросы. Данные достаточно разнородны

71.91304347826087
64.0
[ 66.  88.  40. 164. 104.  nan  48.  60.  80.  90.  72.  42.  92.  76.
  96. 128.  64. 110. 130. 108. 100. 112.  52. 146. 150. 120. 140.  84.
  46. 114. 160.  54.  56.  38.  98.  50.  44.  70.  78.  49.  30. 136.
 132.  65.  86. 129.  68.  36.  45. 124. 184.  75.  82.]

In [25]:
q1_pulse = df['pulse'].quantile(0.25)
q3_pulse = df['pulse'].quantile(0.75)
qrt_pulse = q3_pulse - q1_pulse
pulse_lower_out = q1_pulse - (qrt_pulse * 1.5)
print(pulse_lower_out)
pulse_higher_out = q3_pulse + (qrt_pulse * 1.5)
print(pulse_higher_out)
#Межквартильный размах получается большим, похоже, для этого ряда данных считать выбросы так не подходит. Раз пульс настолько индивидуальная мера - лучше бы вообще ничем не заполнять пропуски, но если очень нужно - наверное, лучше медианой
df['pulse'] = df['pulse'].fillna(df['pulse'].median())

-12.0
148.0

/var/folders/jg/64vdp98s24939zjgl41c2ktm0000gp/T/ipykernel_1800/663144608.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pulse'] = df['pulse'].fillna(df['pulse'].median())

In [59]:
q1_respr = df['resp_rate'].quantile(0.25)
q3_respr = df['resp_rate'].quantile(0.75)
qrt_respr = q3_respr - q1_respr
respr_lower_out = q1_respr - (qrt_respr * 1.5)
print(respr_lower_out)
respr_higher_out = q3_respr + (qrt_respr * 1.5)
print(respr_higher_out)
df['resp_rate'].unique()
#Данные также достаточно разнородны, ситуация похожа на поле pulse
df['resp_rate'] = df['resp_rate'].fillna(df['resp_rate'].median())

-1.375
55.625

/var/folders/jg/64vdp98s24939zjgl41c2ktm0000gp/T/ipykernel_1800/3894613893.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['resp_rate'] = df['resp_rate'].fillna(df['resp_rate'].median())

In [27]:
print(df['temp_of_ext'].value_counts())
print(df['temp_of_ext'].mode())
#Хотя можно выделить моду, данные кажутся разрозненными
print(df.groupby(['temp_of_ext']).value_counts())
#Довольно сложно выделить закономерность для заполнения пропусков на базе анализа взаимосвязи с другими данными. Если это необходимо - можно попробовать заполнить модой
df['temp_of_ext'] = df['temp_of_ext'].fillna(df['temp_of_ext'].mode())

3.0    109
1.0     78
2.0     30
4.0     27
Name: temp_of_ext, dtype: int64
0    3.0
Name: temp_of_ext, dtype: float64
temp_of_ext  surgery  age  rec_temp   pulse  resp_rate  pain  outcome
1.0          1.0      1    37.800000  48.0   28.0       1.0   1.0        2
                           38.100000  52.0   24.0       4.0   2.0        2
             2.0      1    38.400000  54.0   24.0       1.0   1.0        2
             1.0      1    36.500000  78.0   30.0       5.0   1.0        1
                           37.000000  66.0   20.0       4.0   2.0        1
                                                                        ..
4.0          1.0      9    39.100000  164.0  84.0       2.0   2.0        1
             2.0      1    38.167917  104.0  24.0       4.0   3.0        1
                                      120.0  24.5       5.0   2.0        1
                           38.200000  56.0   40.0       2.0   1.0        1
                                      130.0  16.0       2.0   3.0        1
Length: 212, dtype: int64

/var/folders/jg/64vdp98s24939zjgl41c2ktm0000gp/T/ipykernel_1800/785948073.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['temp_of_ext'] = df['temp_of_ext'].fillna(df['temp_of_ext'].mode())

/var/folders/jg/64vdp98s24939zjgl41c2ktm0000gp/T/ipykernel_1800/2978931856.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['outcome'] = df['outcome'].fillna(df['outcome'].mode())

In [57]:
print(df['pain'].value_counts())
print(df['pain'].mode())
#Хотя можно выделить моду, данные кажутся разрозненными
print(df.groupby(['pain']).value_counts())
#Показатель достаточно субъективный и мало влияет на диагностику. Я бы не заполняла это поле

3.0    67
2.0    59
5.0    42
4.0    39
1.0    38
Name: pain, dtype: int64
0    3.0
Name: pain, dtype: float64
pain  surgery  age  rec_temp  pulse  resp_rate  temp_of_ext  outcome
1.0   2.0      1    38.4      54.0   24.0       1.0          1.0        2
      1.0      1    37.8      48.0   28.0       1.0          1.0        2
                              40.0   12.0       1.0          1.0        1
      2.0      1    38.6      48.0   20.0       3.0          1.0        1
                              56.0   32.0       2.0          1.0        1
                                                                       ..
5.0   1.0      1    37.3      90.0   40.0       3.0          3.0        1
                    37.6      96.0   48.0       3.0          2.0        1
                    37.7      80.0   24.5       3.0          1.0        1
                              120.0  28.0       3.0          2.0        1
      2.0      9    38.3      90.0   24.5       1.0          1.0        1
Length: 212, dtype: int64

In [62]:
df.describe()

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome
count,300.000000,300.000000,300.000000,300.000000,300.000000,244.000000,245.00000,299.000000
mean,1.400000,1.640000,38.167917,71.280000,29.273333,2.348361,2.95102,1.551839
std,0.490716,2.173972,0.654705,27.541545,16.010979,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.900000,48.000000,20.000000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.167917,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,34.250000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000