In [95]:
import pandas as pd
import numpy as np

# Задание 1. Загрузка данных

In [90]:
hourse_data = pd.read_csv(r'C:\Users\vkedrova\Desktop\personal\Python\Data_Sciense_course\Statistics\horse_data.csv')
hourse_data.reset_index()
hourse_data.head()

,2,1,530101,38.50,66,28,3,3.1,?,2.1,...,45.00,8.40,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
1,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
2,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
3,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
4,2,1,528355,?,?,?,2,1,3,1,...,?,?,?,?,1,2,0,0,0,2

In [220]:
hourse_data.columns = ['surgery?', 'Age', 'Hospital Number', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination', 'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'surgical lesion', 'site of lesion', 'type of lesion', 'subtype', 'specific code']
hourse_data.head()

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion,site of lesion,type of lesion,subtype,specific code
0,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
1,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
2,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
3,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
4,2,1,528355,?,?,?,2,1,3,1,...,?,?,?,?,1,2,0,0,0,2

In [241]:
key_hourse_data = hourse_data[['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']]

In [242]:
key_hourse_data = key_hourse_data.replace('?', None)

In [249]:
key_hourse_data[['surgery?', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities','pain', 'outcome']] = key_hourse_data[['surgery?', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']].astype(float)

In [246]:
key_hourse_data.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2,2.0
3,2.0,1,37.3,104.0,35.0,NaN,None,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2,1.0

# Задание 2. Первичное изучение данных

In [250]:
#Базовые статистики
key_hourse_data.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,298.000000,299.00000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [158]:
#Чаще всего лошадки выживают)
key_hourse_data['outcome'].mode()

0    1.0
Name: outcome, dtype: float64

In [159]:
#Для данных, которым неактуален расчет среднего или выбросов может быть полезен pivot, например, распределение исхода в зависимости от наличия операции
pd.pivot_table(key_hourse_data, values = 'Age',  index = 'surgery?', columns = 'outcome', aggfunc = 'sum')

outcome   1.0  2.0  3.0
surgery?
1.0       151  138   35
2.0       123   26   17

In [172]:
#По условиям описания нормальные показатели 8-10, т.к. 8 это минимальное значение ряда, можно найти отклонения выше 10
resp_higher_outliers = key_hourse_data[key_hourse_data['respiratory rate'] > 10]
resp_lower_outliers.groupby('respiratory rate').count()

,surgery?,Age,rectal temperature,pulse,temperature of extremities,outcome
respiratory rate,,,,,,
12.0,19,19,18,18,17,19
13.0,1,1,0,1,1,1
14.0,4,4,3,4,2,4
15.0,1,1,1,1,1,1
16.0,22,22,18,22,19,22
18.0,8,8,8,8,5,8
20.0,27,28,26,27,21,27
21.0,2,2,2,2,2,2
22.0,2,2,2,2,1,2
23.0,1,1,1,0,1,1
24.0,27,27,22,25,23,27
25.0,1,1,1,1,0,1
26.0,1,1,1,1,1,1
28.0,12,12,11,12,10,12
30.0,19,19,16,19,17,19
32.0,11,11,9,11,11,11
34.0,1,1,1,1,1,1
35.0,3,3,3,3,2,3
36.0,16,16,10,16,13,16
40.0,17,17,15,16,15,17
42.0,3,3,3,3,2,3
44.0,3,3,2,3,3,3
48.0,6,6,5,6,5,6
50.0,2,2,2,2,2,2
51.0,2,2,2,2,2,2
52.0,1,1,1,1,1,1
58.0,1,1,1,1,1,1
60.0,4,4,4,4,3,4
66.0,1,1,1,1,1,1
68.0,3,3,2,3,3,3
70.0,2,2,1,2,1,2
72.0,1,1,1,1,0,1
80.0,3,3,3,3,3,3
84.0,2,2,2,2,2,2
88.0,1,1,1,1,1,1
90.0,2,2,2,2,2,2
96.0,2,2,2,2,0,2

In [188]:
#Поиск выбросов для rectal temperature
q1 = key_hourse_data['rectal temperature'].quantile(0.25)
q3 = key_hourse_data['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)

remove_outliers = key_hourse_data[key_hourse_data['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]

C:\Users\vkedrova\AppData\Local\Temp\ipykernel_2316\1269889957.py:8: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers = key_hourse_data[key_hourse_data['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]

In [187]:
#Судя по полученным минимальным отличиям в ряду практически нет выбросов, данные имеют высокую плотность
print(key_hourse_data['rectal temperature'].mean())
print(remove_outliers['rectal temperature'].mean())

38.166527196652716
38.16755555555556

In [193]:
#Поиск выбросов для pulse
q1 = key_hourse_data['pulse'].quantile(0.25)
q3 = key_hourse_data['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound_pulse = q1 - (1.5 * iqr)
upper_bound_pulse = q3 + (1.5 * iqr)

remove_outliers_pulse = key_hourse_data[key_hourse_data['pulse'].between(lower_bound_pulse, upper_bound_pulse, inclusive=True)]

C:\Users\vkedrova\AppData\Local\Temp\ipykernel_2316\3653538850.py:8: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_pulse = key_hourse_data[key_hourse_data['pulse'].between(lower_bound_pulse, upper_bound_pulse, inclusive=True)]

In [194]:
#В показателях пульса средние значения отличаются более заметно, медианные равны, выбросы имеют скорее единичный характер
print(key_hourse_data['pulse'].mean())
print(remove_outliers_pulse['pulse'].mean())

print(key_hourse_data['pulse'].median())
print(remove_outliers_pulse['pulse'].median())

71.93454545454546
70.27407407407408
64.0
64.0

In [195]:
#Проверка количества выбросов pulse
key_hourse_data[~key_hourse_data['pulse'].between(lower_bound_pulse, upper_bound_pulse, inclusive=True)]

C:\Users\vkedrova\AppData\Local\Temp\ipykernel_2316\1005774186.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  key_hourse_data[~key_hourse_data['pulse'].between(lower_bound_pulse, upper_bound_pulse, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,outcome
2,1.0,9,39.1,164.0,84.0,4.0,2.0
4,2.0,1,NaN,NaN,NaN,2.0,1.0
27,1.0,1,NaN,NaN,NaN,NaN,2.0
40,2.0,9,39.0,150.0,72.0,NaN,1.0
51,2.0,1,NaN,NaN,NaN,1.0,1.0
54,1.0,9,38.6,160.0,20.0,3.0,2.0
55,1.0,1,NaN,NaN,NaN,NaN,1.0
57,1.0,1,NaN,NaN,20.0,4.0,2.0
73,1.0,9,NaN,NaN,NaN,NaN,2.0
77,1.0,1,NaN,NaN,NaN,3.0,2.0
82,1.0,1,38.0,NaN,24.0,3.0,2.0
92,2.0,1,NaN,NaN,NaN,3.0,2.0
114,2.0,1,NaN,NaN,40.0,3.0,1.0
116,2.0,1,39.5,NaN,NaN,3.0,3.0
125,1.0,1,38.7,NaN,NaN,3.0,1.0
135,1.0,1,NaN,NaN,NaN,3.0,2.0
150,1.0,1,39.3,NaN,NaN,4.0,2.0
158,2.0,1,NaN,NaN,12.0,1.0,1.0
159,1.0,1,NaN,NaN,NaN,NaN,1.0
173,2.0,1,NaN,NaN,NaN,3.0,2.0
174,1.0,1,NaN,NaN,NaN,NaN,1.0
181,1.0,1,38.0,NaN,24.0,3.0,2.0
203,1.0,1,39.2,NaN,23.0,3.0,1.0
206,1.0,1,NaN,NaN,NaN,NaN,2.0
215,2.0,1,NaN,NaN,NaN,NaN,1.0
226,1.0,9,NaN,NaN,NaN,NaN,1.0
254,1.0,9,38.8,184.0,84.0,1.0,2.0
274,1.0,9,38.8,150.0,50.0,1.0,2.0
287,1.0,1,NaN,NaN,NaN,NaN,1.0

# Задание 3. Работа с пропусками

In [252]:
#Исходя из кол-ва пропусков заполнять их имеет смысл в rectal temperature, pulse, respiratory rate, pain и temperature of extremities
(key_hourse_data.isna().mean() * 100).round(1)

surgery?                       0.3
Age                            0.0
rectal temperature            20.1
pulse                          8.0
respiratory rate              19.4
temperature of extremities    18.7
pain                          18.4
outcome                        0.3
dtype: float64

In [258]:
#Данные о том была ли операция и чем закончилось наблюдение спрогнозировать сложно исходя из имеющихся данных
key_hourse_data['surgery?']  = key_hourse_data['surgery?'].fillna('no_data')
key_hourse_data['outcome']  = key_hourse_data['outcome'].fillna('no_data')

In [259]:
#В описании данных есть пометка, что respiratory rate имеет сомнительную аналитическую ценность ввиду большого количества флуктуаций
key_hourse_data['respiratory rate']  = key_hourse_data['respiratory rate'].fillna('no_data')

In [261]:
# Т.к. для rectal temperature и pulse данные имеют минимальное кол-во выбросов, можно заполнить их средним и медианой соответственно с минимальным риском искажения
key_hourse_data['rectal temperature'] = key_hourse_data['rectal temperature'].fillna(key_hourse_data['rectal temperature'].mean())
key_hourse_data['pulse'] = key_hourse_data['pulse'].fillna(key_hourse_data['pulse'].median())

In [ ]:
#Данные в столбцах pain и temperature of extremities носят номинальный характер, при необходимости можно попробовать заполнить модой

In [262]:
#Наиболее частые значения температуры конечностей в заависимости от исхода
key_hourse_data.groupby(['outcome'])['temperature of extremities'].agg(pd.Series.mode)

outcome
1.0        1.0
2.0        3.0
3.0        3.0
no_data    3.0
Name: temperature of extremities, dtype: float64

In [263]:
#Наиболее частые значения температуры конечностей в заависимости от факта операции
key_hourse_data.groupby(['surgery?'])['pain'].agg(pd.Series.mode)

surgery?
1.0        3.0
2.0        1.0
no_data    4.0
Name: pain, dtype: float64

In [264]:
key_hourse_data.isna().mean()

surgery?                      0.000000
Age                           0.000000
rectal temperature            0.000000
pulse                         0.000000
respiratory rate              0.000000
temperature of extremities    0.187291
pain                          0.183946
outcome                       0.000000
dtype: float64